<header class="site-header" role="banner">

  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
	
	{% assign pages = site.pages | sort: "sort" %}
	
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

	<nav class="horizontal-menu">
		<ul>
			<li>
				<a class="dropdown-toggle" href="#">MENU</a>
				<ul class="dropdown-menu" data-show="hover" data-role="dropdown">
				{% for node in site.pages %}
					{% if 1 == node.depth %}
					<li>
						<a class="dropdown-toggle" href='{{node.url}}'>{{node.title}}</a>
						<ul class="dropdown-menu" data-show="hover">
						{% for subnode in site.pages %}
							{% if 2 == subnode.depth and node.permalink == subnode.parent %}
								<li><a href='{{subnode.url}}'>{{subnode.title}}</a></li>
							{% endif %}
						{% endfor %}
						</ul>
					</li>
					{% endif %}
				{% endfor %}
				</ul>
			</li>
		</ul>
	</nav>  
  </div>
</header>
