---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}
  

  {{ content }}
  
<table class="table" align="center">
    <tr>
		<td>
			<a href="/Documents/">
				<img src="/assets/Act1.jpg" border=5>
			</a> 
		</td>	
		<td>
			<a href="/Projects/">
				<img src="/assets/Act2.jpg" border=5>
			</a> 
		</td>	
    </tr>
</table>
<table class="table" align="center">
    <tr>
		<td>
			<a href="/about/">
				<img src="/assets/Act3.jpg" border=5>
			</a> 
		</th>	
		<td>
			<a href="/cv/">
				<img src="/assets/Act4.jpg" border=5>
			</a> 
		</th>	
    </tr>
</table>

</div>
